body {
    margin: 0;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#gameCanvas {
    background: linear-gradient(to top, #77c, #eef 80%);
    display: block;
    border: 2px solid #444;
    box-shadow: 0 0 20px #111a;
}
